{% extends 'base.html' %}

{% block title %}Панель администратора{% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-center">
    <div class="p-2">
        <div class="card" style="width: 18rem;">
            <img src="{{ url_for('static', filename='img/loyalty_program.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Программа лояльность</h5>
                <p class="card-text">Каждое 10-ое посещение для гостя бесплатное.</p>
            </div>
            <ul class="list-group list-group-flush">
                <a href="{{ url_for('loyalty_program.tag_a_member') }}" class="a_without_decor">
                    <li class="list-group-item btn">
                        Отметить гостя
                    </li>
                </a>
                <a href="{{ url_for('loyalty_program.new_member') }}" class="a_without_decor">
                    <li class="list-group-item btn">
                        Новый участник
                    </li>
                </a>
                <a href="{{ url_for('loyalty_program.members') }}" class="a_without_decor">
                    <li class="list-group-item btn">
                        Список участников
                    </li>
                </a>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
