{% extends 'base.html' %}

{% block content %}
<div class="d-flex align-items-center justify-content-center">
    <div class="p-2 anim_scale">
        <a href="{{ url_for('administrator') }}" class="a_without_decor">
            <div class="card" style="width: 18rem;">
                <img src="{{ url_for('static', filename='img/admin_panel.jpg') }}" class="card-img-top" alt="">
                <div class="card-body">
                  <p class="card-text text-center">Панель администратора</p>
                </div>
              </div>
        </a>
    </div>
</div>
{% endblock %}
