{% extends 'base.html' %}
{% block title %}Авторизация{% endblock %}

{% block content %}
<form action="" method="post">
    <div class="form-floating mb-3">
        <input type="text" name="login" class="form-control" id="user_login_input" placeholder="Логин">
        <label for="user_login_input">Логин</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" name="password" class="form-control" id="user_password_input" placeholder="Пароль">
        <label for="user_password_input">Пароль</label>
    </div>
    <div class="mb-3 text-end">
        <button type="submit" class="btn btn-primary mb-3">Войти</button>
    </div>
</form>
{% endblock %}
