{% extends 'base.html' %}

{% block title %}Программа лояльности{% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-between">
    <div class="p-2">
        <h5 class="text-center">Программа лояльности - редактировать данные участника</h5>
    </div>
    <div class="p-2">
        <a href="{{ url_for('administrator') }}" class="btn btn-warning align-item-right">
            Панель администратора
        </a>
    </div>
</div>
<form action="" method="post">
    <div class="form-floating mb-3">
        <input type="text" name="last_name" value="{{ member.last_name }}" class="form-control" id="last_name_input" placeholder="Иванов">
        <label for="last_name_input">Фамилия</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" name="first_name" value="{{ member.first_name }}" class="form-control" id="first_name_input" placeholder="Иван">
        <label for="first_name_input">Имя</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" name="phone" value="{{ member.phone }}" class="form-control" id="phone_input" placeholder="8 (800) 555-35-35">
        <label for="phone_input">Номер телефона</label>
    </div>
    <div class="form-floating mb-3">
        <input type="number" name="count" value="{{ member.loyalty_program.count }}" class="form-control" id="count_input" placeholder="0">
        <label for="count_input">Количество посещений</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" name="comment" value="{{ member.comment }}" class="form-control" id="comment_input">
        <label for="comment_input">Комментарий</label>
    </div>
    <div class="mb-3 text-end">
        <button type="submit" class="btn btn-primary mb-3">Сохранить</button>
    </div>
</form>
{% endblock %}
