{% extends 'base.html' %}

{% block title %}Программа лояльности{% endblock %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
      $("#member_filter_input").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#members_list option").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script>
{% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-between">
    <div class="p-2">
        <h5 class="text-center">Программа лояльности - отметить гостя</h5>
    </div>
    <div class="p-2">
        <a href="{{ url_for('root.administrator') }}" class="btn btn-warning align-item-right">
            Панель администратора
        </a>
    </div>
</div>
<form action="" method="post">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="member_filter_input" placeholder="Искать...">
        <label for="member_filter_input">Искать</label>
    </div>
    <div class="mb-3">
        <select name="member_info" id="members_list" class="form-select" size="10">
            {% for member in members %}
                <option value="{{ member.id }}">{{ member.last_name }} {{ member.first_name }} ({{ member.phone }})</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3 text-end">
        <button type="submit" class="btn btn-primary mb-3">Отметить</button>
    </div>
</form>
<div class="mb-3 text-end">
    <a href="{{ url_for('loyalty_program.new_member') }}" class="btn btn-primary mb-3">Новый участник</a>
</div>
{% endblock %}
